@use "sass:map";

// Configs
$kladenets: () !default;
$kladenets: map.merge(
  (
    "fontstack": (
      prefix: "-apple-system, BlinkMacSystemFont,",
      sans-serif: '"Helvetica Neue", Arial, sans-serif',
      serif: "Georgia, serif",
      monospace: "Menlo, Consolas, monospace",
      default: "var(--fontstack-prefix) var(--fontstack-sans-serif)",
    ),

    "font": (
      size-base: "1rem",
      size-factor: "1vw",
      size: "calc(var(--font-size-base) + var(--font-size-factor))",
      features: '"halt", "cv01", "cv02", "cv03"',
    ),

    "line": (
      height: "calc(20 / 14)",
    ),

    "breakpoints": (
      xs: "400px",
      sm: "640px",
      md: "1080px",
      lg: "1600px",
    ),

    "space": (
      xs: "1.2vw",
      sm: "4vw",
      md: "8vw",
      lg: "24vw",
    ),

    "border": (
      xs: ".5px",
      sm: "1px",
      md: "2px",
      lg: "4px",
    ),

    "color-set": (
      "blue": (
        h: "211",
        s: "100%",
        l: "50%",
      ),
      "indigo": (
        h: "250",
        s: "90%",
        l: "54%",
      ),
      "deep-purple": (
        h: "262",
        s: "80%",
        l: "57%",
      ),
      "purple": (
        h: "281",
        s: "70%",
        l: "60%",
      ),
      "pink": (
        h: "330",
        s: "70%",
        l: "63%",
      ),
      "red": (
        h: "349",
        s: "83%",
        l: "55%",
      ),
      "deep-orange": (
        h: "8",
        s: "100%",
        l: "54%",
      ),
      "orange": (
        h: "27",
        s: "98%",
        l: "54%",
      ),
      "amber": (
        h: "40",
        s: "100%",
        l: "56%",
      ),
      "yellow": (
        h: "50",
        s: "100%",
        l: "60%",
      ),
      "lime": (
        h: "85",
        s: "80%",
        l: "44%",
      ),
      "light-green": (
        h: "110",
        s: "76%",
        l: "45%",
      ),
      "green": (
        h: "145",
        s: "72%",
        l: "46%",
      ),
      "teal": (
        h: "170",
        s: "70%",
        l: "55%",
      ),
      "cyan": (
        h: "180",
        s: "80%",
        l: "60%",
      ),
      "light-blue": (
        h: "197",
        s: "95%",
        l: "60%",
      ),
      "black": (
        h: "238",
        s: "71%",
        l: "11%",
      ),
      "white": (
        h: "0",
        s: "0%",
        l: "100%",
      ),
      "grey": (
        h: var(--black-h),
        s: "6%",
        l: var(--black-l),
      ),
      "blue-grey": (
        h: var(--blue-h),
        s: "12%",
        l: var(--blue-l),
      ),
      "text-color": (
        h: var(--black-h),
        s: var(--black-s),
        l: var(--black-l),
      ),
      "link-color": (
        h: var(--blue-h),
        s: var(--blue-s),
        l: var(--blue-l),
      ),
      "bg-color": (
        h: var(--white-h),
        s: var(--white-s),
        l: var(--white-l),
      ),
      "code-color": (
        h: calc(var(--link-color-h) + 180),
        s: var(--link-color-s),
        l: var(--link-color-l),
      ),
    ),

    "color-alpha-iterator": (
      0: "0",
      3: ".03",
      5: ".05",
      7: ".07",
      10: ".1",
      15: ".15",
      20: ".2",
      30: ".3",
      40: ".4",
      50: ".5",
      60: ".6",
      70: ".7",
      80: ".8",
      90: ".9",
      95: ".95",
      100: "1",
    ),

    "color-saturation-iterator": (
      0: "0%",
      3: "3%",
      5: "5%",
      7: "7%",
      10: "10%",
      15: "15%",
      20: "20%",
      30: "30%",
      40: "40%",
      50: "50%",
      60: "60%",
      70: "70%",
      80: "80%",
      90: "90%",
      95: "95%",
      100: "100%",
    ),

    "color-lightness-iterator": (
      0: "0%",
      3: "3%",
      5: "5%",
      7: "7%",
      10: "10%",
      15: "15%",
      20: "20%",
      30: "30%",
      40: "40%",
      50: "50%",
      60: "60%",
      70: "70%",
      80: "80%",
      90: "90%",
      95: "95%",
      100: "100%",
    ),

    "color-lightness-pretty-iterator": (
      lightest: "95",
      lighter: "80",
      light: "60",
      dark: "40",
      darker: "20",
      darkest: "5",
    ),

    "color-md-iterator": (
      50: "2.5%",
      100: "5%",
      200: "12%",
      300: "19%",
      400: "26%",
      500: "33%",
      600: "40%",
      700: "47%",
      800: "54%",
      900: "61%",
      A100: "5%",
      A200: "12%",
      A400: "26%",
      A700: "47%",
    ),
  ),

  $kladenets
);

$color-set-arr:
  "blue",
  "indigo",
  "purple",
  "pink",
  "red",
  "orange",
  "gold",
  "yellow",
  "green",
  "teal",
  "cyan",
  "black",
  "white",
  "text-color",
  "link-color",
  "bg-color",
  "code-color",
;
